---

---
<!-- about.astro -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acerca de Nosotros</title>
</head>
<body>
  <header class="Encabezado">  
    <nav>
      <h3>
        Empresa Industrial Eucaliptus S.R.L.
      </h3>
      <ul>
        <li><a href="/Empresa-Industrial-Eucaliptus-S.R.L./about" class="about">Acerca de Nosotros</a></li>
        <li><a href="/Empresa-Industrial-Eucaliptus-S.R.L./product">Producto</a></li>
        <li><a href="/Empresa-Industrial-Eucaliptus-S.R.L./">Inicio</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="cont">
      <img class="imag-izq" src="/Empresa-Industrial-Eucaliptus-S.R.L./public/images/page2_img.png" alt="imagen1">
      <img class="imag-izq" src="/Empresa-Industrial-Eucaliptus-S.R.L/public/images/page2_img2.png" alt="imagen2">
      <img class="imag-izq" src="/Empresa-Industrial-Eucaliptus-S.R.L/public/images/page2_img3.png" alt="imagen3">
    </div>
    <article class="conteiner">
      <div class="Mision_Vision">
        <div class="Mision">
          <h3>
            <b>Nuestra Misión</b>
          </h3>
          <p>
            Nuestra misión es aplicar esfuerzos en <br> la producción de ácido sulfúrico, <br> cumpliendo estándares de calidad con <br> responsabilidad ambiental; a fin de <br> generar beneficios que permitan <br> mantener las prestaciones básicas y 
            <br> complementarias de COSSMIL para los <br> miembros de las Fuerzas Armadas de la <br> Nación.
          </p>
        </div>
        <img src="/public/images/page2_img_mision.png" alt="Imagen de la misión">
      </div>  
      <div class="Mision_Vision">
        <img src="/public/images/page2_img_vision.png" alt="Imagen de la visión">
        <div class="vision">
          <h3>
            <b>
              Nuestra Visión
            </b>
          </h3>
          <p>
            Ser una Empresa modelo de la Gerencia <br>
            de Empresas de COSSMIL; con <br>
             participación activa en el desarrollo <br> económico, crecimiento en los <br> mercados más competitivos y <br> organizada con personal altamente <br> calificado
          </p>
        </div>
      </div>
    </article>
    
    <section class="section_clientes">
      <h2>
        Nosotros amamos trabajar con nuestros clientes...
      </h2>
      <article class="clientes">
        <a href="https://www.mineracorocoro.com/"><img src="/public/images/empresas/Logo1-removebg-preview.png" alt="CORPORACIÓN MINERA DE BOLIVIA - EMPRESA MINERA COROCORO"></a>
        <a href="https://bo.linkedin.com/company/import-export-copla-ltda" target="_blank"><img src="/public/images/empresas/Logo3-removebg-preview.png" alt="IMPORT EXPORT COPLA LTDA"></a>
        <a href="http://www.mafeesgroup.com/" target="_blank"><img src="/public/images/empresas/Logo4-removebg-preview.png" alt="MG"></a>
        <a href="https://aguai.com.bo/wp/" target="_blank"><img src="/public/images/empresas/Logo5-removebg-preview.png" alt=""></a>
        <a href="https://directoriodecarga.com/empresas/ingenio-azucarero-guabira-sa-santa-cruz-de-la-sierra"><img src="/public/images/empresas/Logo6-removebg-preview.png" alt="INGENIO AZUCARERO GUABIRA S.A."></a>
        <a href="https://www.unagro.com.bo/" target="_blank"><img src="/public/images/empresas/Logo7-removebg-preview.png" alt=""></a>
        <a href=""><img src="/public/images/empresas/Logo8-removebg-preview.png" alt=""></a>
        <a href="https://antaqhuyamine.com/operaciones/" target="_blank"><img src="/public/images/empresas/Logo9-removebg-preview.png" alt=""></a>
        <a href="https://antaqhuyamine.com/operaciones/" target="_blank"><img src="/public/images/empresas/Logo10-removebg-preview.png" alt=""></a>
        <a href="https://www.facebook.com/ImportadoradebateriasQuimibolZabPower/?locale=es_LA" target="_blank"><img src="/public/images/empresas/Logo11-removebg-preview.png" alt=""></a>
        <a href="" target="_blank"><img src="/public/images/empresas/Logo12-removebg-preview.png" alt=""></a>
        <a href="" target="_blank"><img src="/public/images/empresas/Logo13-removebg-preview.png" alt=""></a>
        <a href="https://www.facebook.com/DistribuidorExclusivoDeProductosMaxxoil/" target="_blank"><img src="/public/images/empresas/Logo14-removebg-preview.png" alt=""></a>
        <a href="" target="_blank"><img src="/public/images/empresas/logo15-removebg-preview.png" alt="esta sus"></a>
        <a href="https://www.facebook.com/All.Chemical.Tech.Bolivia/?locale=es_LA" target="_blank"><img src="/public/images/empresas/Logo16-removebg-preview.png" alt=""></a>
        <a href=""><img src="/public/images/empresas/Logo17-removebg-preview.png" alt=""></a>
        <a href=""><img src="/public/images/empresas/Logo18-removebg-preview.png" alt=""></a>
        <a href="https://www.facebook.com/recumet.bo/" target="_blank"><img src="/public/images/empresas/Logo19-removebg-preview.png" alt=""></a>
        <a href="https://www.facebook.com/p/Molles-OiL-100066299753030/?locale=ku_TR" target="_blank"><img src="/public/images/empresas/Logo20-removebg-preview.png" alt=""></a>

      </article>
    </section>
    <footer>
      <div class="foot">
        <h3>
          <b>Ubicanos y Contactanos por:</b>
        </h3>
        <div class="icons">
          <a  href="https://wa.link/5x7v06" target="_blank"><img src="/public/images/icon_whatsapp.svg" alt="Whatsapp"></a>
          <a  href="mailto:jcomercial@empresa-eucaliptus.com ?subject=Consulta&body=Hola,%20quiero%20hacerte%20una%20consulta." target="_blank"><img src="/public/images/icon_mail.svg" alt="Mail"></a>
          <a  href="https://maps.app.goo.gl/KvypU8gvzEVvwjGD6" target="_blank"><img src="/public/images/icon_maps.svg" alt="Maps"></a>
        </div>
        </div>
        <div class="foot">
        <h3>
          <b>Visitanos en Nuestras Redes Sociales:</b>
        </h3>
          <div class="icons2">
            <a href="https://www.instagram.com/EIECOSS_SRL/" target="_blank "><img src="/public/images/instagram-icon.png" alt="link de instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=61565396315237&mibextid=JRoKGi" target="_blank"><img src="/public/images/facebook.png" alt="facebook"></a>
            <a href="https://www.tiktok.com/@eiecoss?_t=8pmRi0HReRZ&_r=1" target="_blank"><img src="/public/images/tik-tok.png" alt="tik Tok"></a>
          </div>
        
      </div>
    </footer>
  </main>
  <style>
    *{
			margin: 0;
			padding: 0;
			bottom: 0;
		}
		body{
			height: all;
			margin: 0;
			background: linear-gradient(to bottom, #68778D, #ffffff);
		}
		ul{
			list-style-type: none;
			overflow: hidden;
		}
		li{
			float: right;
			padding: 20px;
			transition: background-color, 2s;
		}
		li:hover{
			background-color: rgba(0, 0, 0, 0.5);
			color: white;
		}
    
		li a{
			text-decoration: none;
			color: #1759AC;
			padding: 10px;
			font-family: "Archivo Black", sans-serif;
			font-size: 24px;
		}
    .about{
      color: #E2B155 !important;
    }
		li a:hover{
			color: white;
		}
    .Encabezado nav{
      display: flex;
      justify-content: space-between;

    }
    .Encabezado h3{
      padding: 20px;
      color: white;
      font-size: 30px;
      font-family: "Archivo Black",sans-serif;
    }
    .Encabezado{
      animation: slideInFromTop 1s ease-out forwards;
    }
    .cont{
      display: flex;
      justify-content: center;
      gap: 25px;
      animation: slideInFromBottom 1s ease-out forwards;
      opacity: 0;
			transform: translateY(50px);
      transition: opacity 1s ease-out, transform 1s ease-out;
      
    }
    .cont.visible{
      opacity: 1;
      transform: translateY(0);
    }
    .Mision_Vision{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 80px 0px;
      opacity: 0;
			transform: translateY(50px);
      transition: opacity 1s ease-out, transform 1s ease-out;
    } 
    .Mision_Vision.visible{
      opacity: 1;
      transform: translateY(0);
    }
    .Mision_Vision h3{
      text-align: center;
      font-family: "Myriad Pro Regular", sans-serif;
      font-size: 50px;
      line-height: 3;
    }
    .Mision_Vision p{
      text-align: center;
      font-size: 24px;
      font-family: "Myriad Regular", sans-serif;
    }
    .Mision_Vision img {
      border-radius: 30px;
      box-shadow: 20px 20px 90px rgb(76, 71, 71);
    }
    footer{
        background-color: #1759AC;
        height: 319px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;

      }
      footer h3{
        margin: 20px;
        font-size: 24;
        font-family: "Archivo Black", sans-serif;
        color: white;
      }
      .foot h3{
        margin: 20px;
        font-size: 24;
        font-family: "Archivo Black", sans-serif;
        color: white;
      }
      .foot img{
        width: 43px;
        height: 43px;
        padding: 0px 20px;
        transition: transform, 500ms;
      }
      .foot img:hover{
        transform: scale(1.5);
      }
      .foot{
        display: flex;
        justify-content:center ;
        align-items: center;
        flex-direction: column;
      }
    .icons img{
			width: 43px;
			height: 43px;
			padding: 0px 20px;
			transition: width, height, 500ms;
		}
		.icons img:hover{
      transform: scale(1.5);
		}
    
    .cont img{
      width: 415px;
      height: 623px;
      object-fit: cover;
      border-radius: 10px;
      margin-top: 80px;
    }
    .Mision_Vision img{
      width: 637px;
      height: 483px;
    }

    .conteiner{
      margin: 80px 0px;
    }
    .imag-izq{
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      transition: transform, 500ms;
      filter: brightness(50%);
    }
    .imag-der{
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
    .imag-izq:hover{
      transform: scale(1.05);
      filter: brightness(100%)
    }
    .section_clientes{
        text-align: center;
        margin: 50px 0px;
        font-size: 40px;
        font-family: "Myriad Pro Regular";
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
			  transform: translateY(50px);
        transition: opacity 1s ease-out, transform 1s ease-out;
      }
      .section_clientes.visible{
        opacity: 1;
        transform: translateY(0);
      }
      .clientes{
        background-color: white;
        box-shadow: 20px 20px 100px gray;
        border-radius: 30px;
        width: 90%;
        height: 30rem;
        margin-top: 50px;
        
      }
      .clientes img{
        max-width: 100%;
        width: 90px;
        margin: 30px;

      }


    @keyframes slideInFromTop {
			0% {
				transform: translateX(-100%);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
    @keyframes slideInFromBottom {
			0% {
				transform: translateY(100%);
				opacity: 0;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}
  </style>
  <script>
      const fadeElements = document.querySelectorAll('.cont, .Mision_Vision, .section_clientes');
      const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('visible');
        } 
        else {
          entry.target.classList.remove('visible');
          }
        });
        }, {
      threshold: 0.5
        });
      fadeElements.forEach(element => {
        observer.observe(element);
        });
  </script>
</body>
</html>